@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Apply base background and text colors directly using Tailwind classes */
    @apply bg-slate-950 text-slate-100;
  }
}